@model List<TaskQuest.Models.Notificacao>

@if (Model.Count == 0)
{
	<li>
        <a href="/Quest/CriarQuest">
            <div class="principal">
                    <div class="notify-text">
                        <span>Não há notificações</span>
                    </div>  
            </div>
        </a>
    </li>
}
else
{
	for (int x = 0; x < Model.Count && x < 10; x++)
	{
	    <li>
	        <a href="/Quest/CriarQuest">
	            <div class="principal">
	                @Html.Partial("_LinkPartial", new TaskQuest.ViewModels.LinkViewModel("Not" + x, Model[x].Grupo.Id.ToString(), "/Grupo/Index"))
	                <a onclick="link(@Html.ToString("Not"+x))"><div class="notify-elipse" style="background-color: @Model[x].Grupo.Cor"></div></a>
	                <a onclick="link(@Html.ToString("Not"+x))">
	                    <div class="notify-text">
	                        <span>@Html.Raw(Model[x].Texto)</span>
	                    </div>
	                </a>
	            </div>
	        </a>
	    </li>
	    if (x < Model.Count - 1)
	    {
	        <li role="separator" class="divider"></li>
	    }
	}
}