@model TaskQuest.ViewModels.ConfiguracaoViewModel

@{
    ViewBag.Title = "Configuração";
}

@section css{
    <link rel="stylesheet" href="~/Content/css/configuracoes.css">
    <link rel="stylesheet" href="~/Content/css/spectrum.css">
}

@section js{
    <script src="~/Content/js/spectrum.js"></script>
    <script src="~/Content/js/spectrum.config.js"></script>
    <script src="~/Content/js/canvas/canvasjs.min.js"></script>
    <script src="~/Content/js/graphics.js"></script>
    <script src="~/Content/js/jquery.validate.js"></script>
    <script src="~/Content/js/jquery.mask.js"></script>
    <script src="~/Content/js/configuracoes.js"></script>
}

<div class="flex-properties-r subtitulo">
    <div class="title-a" style="color: @User.Identity.GetCor()"><h2>Configuração de Usuário</h2></div>
    <div class="title-b"><div class="pads"></div></div>
</div>

<section>
    <div class="container">
        <div id="chartContainer"></div>
    </div>
</section>

<hr class="container quebra">

<section class="container">
    <div><h1 class="title">Informações Pessoais</h1></div>
    @Html.Partial("_EditarUsuarioPartial", Model.usuario)
</section>

<hr class="container quebra">

<section class="container" data-telefones-length="@Model.Telefones.Count">
    <div class="title flex-properties-r">
        <h1>Telefones</h1>
        <li class="li-hidden icon-black"><a href="#" data-target="#modalTelefone" data-toggle="modal" title="Adicionar Telefone"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
    </div>
    @for (int x = 0; x < Model.Telefones.Count; x++)
    {
        @Html.Partial("_EditarTelefonePartial", new Tuple<int, TaskQuest.ViewModels.TelefoneViewModel>(x, Model.Telefones[x]))
    }
</section>

<hr class="container quebra">

<section class="container" data-cartoes-length="@Model.Cartoes.Count">
    <div class="title flex-properties-r">
        <h1>Cartões</h1>
        <li class="li-hidden icon-black">
            <a href="#" data-target="#modalCartao" data-toggle="modal" title="Adicionar Cartão">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
        </li>
    </div>
    @for (int x = 0; x < Model.Cartoes.Count; x++)
    {
        @Html.Partial("_EditarCartaoPartial", new Tuple<int, TaskQuest.ViewModels.CartaoViewModel>(x, Model.Cartoes[x]))
    }
</section>

@Html.Partial("_AdicionarTelefonePartial", new TaskQuest.ViewModels.TelefoneViewModel())

<hr class="container quebra">

@Html.Partial("_AdicionarCartaoPartial", new TaskQuest.ViewModels.CartaoViewModel())