@model List<TaskQuest.Models.Feedback>

@{
    ViewBag.Title = "Feedbacks";
}

@section js
{
    <script src="~/Content/js/link.js"></script>
}

<section class="pads-bot">

    <div class="flex-properties-r">
        <div class="title-a" style="color: @User.Identity.GetCor()"><h2>FEEDBACKS</h2></div>
        <div class="title-b">
            <div class="flex-properties-r pads"></div>
        </div>
    </div>

    <div class="container flex-properties-r margintop">

        @for (int x = 0; x < Model.Count; x++)
        {
            @Html.Partial("_LinkPartial", new TaskQuest.ViewModels.LinkViewModel("Feb" + x, Model[x].Task.Quest.Id.ToString(), "/Quest"))
            <div class="margin-bottom item">
                <a onclick="link(@Html.ToString("Feb"+x))"><div class="filete" style="background-color: @Model[x].Task.Quest.Cor"></div></a>
                <div class="quest-body flex-properties-c icon-black">
                    <a class="icon-black" onclick="link(@Html.ToString("Feb"+x))"><div class="limit-lines"><h4>@Model[x].Task.Nome</h4></div></a>
                    <div class="limit-lines"><h4>@Model[x].Resposta</h4></div>
                    <div><h1>@Model[x].Nota</h1></div>
                    <div>@Model[x].Task.DataConclusao</div>
                </div>
            </div>
        }

    </div>

</section>