@model TaskQuest.ViewModels.ConfiguracaoViewModel

@{
    ViewBag.Title = "Configuração";
}

@section css{
    <link rel="stylesheet" href="~/Content/css/configuracoes.css">
    <link rel="stylesheet" href="~/Content/css/spectrum.css">
    <link rel="stylesheet" href="~/Content/css/loading.css" />
}

@section js{
    <script src="~/Content/js/spectrum.js"></script>
    <script src="~/Content/js/spectrum.config.js"></script>
    <script src="~/Content/js/jquery.validate.js"></script>
    <script src="~/Content/js/jquery.mask.js"></script>
    <script src="~/Content/js/configuracoes.js"></script>
    <script src="~/Content/js/Chart.bundle.js"></script>
    <script src="~/Content/js/showBalloon.js"></script>
}

<div class="flex-properties-r subtitulo">
    <div class="title-a" style="color: @User.Identity.GetCor()"><h2>Configuração de Usuário</h2></div>
    <div class="title-b">
        <div class="flex-properties-r pads icon-black">
            <i class="fa fa-caret-down elipse icon-black" aria-hidden="true"></i>
            <h3><a href="/Account/ChangePassword">Alterar Senha</a></h3>
        </div>
    </div>
</div>

<section class="container flex-properties-r" id="chartContainer">
    <div id="loading" style="width: 100%">
        <div id="floatingCirclesG">
            <div class="f_circleG" id="frotateG_01"></div>
            <div class="f_circleG" id="frotateG_02"></div>
            <div class="f_circleG" id="frotateG_03"></div>
            <div class="f_circleG" id="frotateG_04"></div>
            <div class="f_circleG" id="frotateG_05"></div>
            <div class="f_circleG" id="frotateG_06"></div>
            <div class="f_circleG" id="frotateG_07"></div>
            <div class="f_circleG" id="frotateG_08"></div>
        </div>
    </div>
    <div id="divChart" style="position: relative; width: 60%">
        <canvas id="chart"></canvas>
    </div>
    <hr class="container quebra">
</section>

<section class="container">
    <div><h1 class="title">Informações Pessoais</h1></div>
    @Html.Partial("_EditarUsuarioPartial", Model.usuario)
</section>

<hr class="container quebra">

<section class="container" data-telefones-length="@Model.Telefones.Count">
    <div class="title flex-properties-r">
        <h1>Telefones</h1>
        <li class="li-hidden icon-black"><a href="#" data-target="#modalTelefone" data-toggle="modal" title="Adicionar Telefone"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
    </div>
    @for (int x = 0; x < Model.Telefones.Count; x++)
    {
        @Html.Partial("_EditarTelefonePartial", new Tuple<int, TaskQuest.ViewModels.TelefoneViewModel>(x, Model.Telefones[x]))
    }
</section>

@Html.Partial("_AdicionarTelefonePartial", new TaskQuest.ViewModels.TelefoneViewModel())